*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:white;
overflow-x:hidden;
}

/* LOADER */
#loader{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:999;
}

.spinner{
width:50px;
height:50px;
border:5px solid #333;
border-top:5px solid gold;
border-radius:50%;
animation:spin 1s linear infinite;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:rgba(0,0,0,0.7);
position:fixed;
width:100%;
z-index:100;
backdrop-filter:blur(10px);
}

.nav-btn{
background:linear-gradient(45deg,gold,orange);
padding:8px 15px;
border-radius:20px;
text-decoration:none;
color:black;
}

/* HERO */
.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9') center/cover;
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
}

.hero-content{
position:relative;
z-index:2;
}

.hero h1{
font-size:45px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:14px 30px;
background:linear-gradient(45deg,gold,orange);
border-radius:30px;
text-decoration:none;
color:black;
font-weight:bold;
}

/* SECTIONS */
section{
padding:100px 20px;
}

/* GRID */
.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

/* CARD */
.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:20px;
backdrop-filter:blur(15px);
width:220px;
transition:0.4s;
}

.card:hover{
transform:translateY(-15px) scale(1.05);
box-shadow:0 0 30px gold;
}

.highlight{
border:1px solid gold;
}

/* TESTIMONIAL */
.review{
background:#1a1a1a;
padding:25px;
margin:10px;
border-radius:15px;
display:inline-block;
}

/* MAP */
iframe{
width:100%;
height:350px;
border:0;
}

/* FOOTER */
footer{
background:black;
padding:25px;
text-align:center;
}

/* WHATSAPP */
.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
padding:16px;
border-radius:50%;
font-size:22px;
color:white;
box-shadow:0 0 15px #25D366;
}
